<div
  id="status"
  class="d-flex flex-column justify-content-center m-4 rounded p-3"
>
  <h1>Whoops! (404)</h1>
  <p>{{message}}</p>
  <a href="/">TAKE ME HOME!!!</a>
</div>

<img src="/images/404.webp" alt="" />

<style>
  h1, p { z-index: 3; } #status { position: absolute; z-index: 2;
  background-color: rgba(0, 0, 0, 0.665); } img { position: absolute; width:
  100vw; max-height: 100vh; object-fit: cover; z-index: 1; }
</style>