<div class="d-flex flex-column p-2">
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Answer Wisely 🤔</h5>
            {{!-- {{#if question}} --}}
            <p class="card-text">You're locked in a Home Depot with a Silverback Gorilla. You start on opposite ends of the store. What is your game plan?</p>
            <textarea class="form-control" name="" id=""></textarea>
            {{!-- {{else}}
            <p>no questions</p> --}}

            {{!-- {{/if}} --}}
        </div>
    </div>

    <div class="mt-2">
        <button class="btn btn-danger" id="abandon">Abandon</button>
        <button class="btn btn-success" id="submit">Submit</button>
    </div>
</div>